### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# 020_Snake
020_Snake/__pycache__/

# 021_Snake
021_PongGame/__pycache__/

# 022_TurtleCrossing
022_TurtleCrossing/__pycache__/

# 023_Snake_HS
023_Snake_HS/__pycache__/

# 024_MailChange
024_MailChange/Output/